version: "3.9"
services:
  api:
    build: .
    environment:
      ALPACA_KEY_ID: ${ALPACA_KEY_ID:-}
      ALPACA_SECRET_KEY: ${ALPACA_SECRET_KEY:-}
      ALPACA_BASE_URL: ${ALPACA_BASE_URL:-https://data.alpaca.markets}
    volumes:
      - ./data:/app/data
    ports:
      - "8000:8000"
